<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyByru2hiXor5cCxfPmuqMAV3RkhR7ukK5E</string>
	<key>GCM_SENDER_ID</key>
	<string>922764653098</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.adminManager</string>
	<key>PROJECT_ID</key>
	<string>five-stars-f150c</string>
	<key>STORAGE_BUCKET</key>
	<string>five-stars-f150c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:922764653098:ios:69ad72555cb0b0ff0f0953</string>
</dict>
</plist>